.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 50px;
}

.item-1 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.item-5 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.item-6 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.item-7 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
body {
    background: linear-gradient(135deg, #e1f5fe 0%, #b3e5fc 100%);
}


img{
    border: 3px solid #0288d1;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(2, 136, 209, 0.3);
}