.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.item-17 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.item-18 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.item-19 {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
}

.item-20 {
    grid-column: 6 / 7;
    grid-row: 1 / 2;
}
body {
    background: linear-gradient(135deg, #b2dfdb 0%, #4dd0e1 100%);
}


img{
    border: 3px solid #0288d1;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(2, 136, 209, 0.3);
}